<head>
<title>User Details</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>

</head>
<body>



        <form role="form" method="post" action="/api/edituser/<%=data.id%>" id="contact-form" class="contact-form">
         <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
            <label for="Username"></label> 
                   UserName:<input type="text" name="userName" value="<%=data.userName%>" id="uname" placeholder="Username"><br><br>
                   
                   <label for="password"></label>
                      
                    Password:<input type="password" name="Password" value="<%=data.password%>" id="pass" placeholder="password"><br><br>
                    </div>
            
                    <label for="mobileno"></label>
                 MobileNo:<input type="text" name="mobileNo" value="<%=data.mobileNo%>" id="no" placeholder="MobileNO"><br><br>
                 
                    <label for="emailaddress"></label>
                    EmailAddress:<input type="email" name="emailAddress" value="<%=data.emailAddress%>"  id="email" placeholder="EmailAddress"><br><br>
                    
                  <label for="address" ></label>
                  Address:<input type="text" name="Address" value="<%=data.Address%>" id="add" placeholder="Address"><br><br>
              
                  <input type="submit" name="submit" class="btn-primary" class="form-control">

</div>
                    </div>
</div>
                   
                    </form>
                    
</body>
</html>